@charset "UTF-8";
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 10px;
}
@media (max-width: 1240px) {
  .header {
    margin: 0 60px;
  }
}
@media (max-width: 820px) {
  .header {
    margin: 0 40px;
  }
}
@media (max-width: 640px) {
  .header {
    margin: 0 30px;
  }
}

.wrap {
  display: block;
}

.logo img {
  height: 75px;
  border-radius: 5px;
}

.actions button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.actions button:hover {
  background-color: #105712;
}

.actions button.login-btn {
  background-color: #2196f3;
}
.actions button.login-btn:hover {
  background-color: #06518d;
}
.actions button.login-btn.deactive {
  display: none;
}

.create-visit-btn {
  display: flex;
}
.create-visit-btn.hidden {
  display: none;
}

.password-form {
  display: none;
}
.password-form.visible {
  display: flex;
  flex-direction: column;
}
.password-form input[type=password],
.password-form input[type=email] {
  margin-bottom: 4px;
}
.password-form .entry {
  display: flex;
  flex-direction: column;
}

.visit-form {
  display: none;
}
.visit-form.visible {
  display: flex;
}

.visit-form-info {
  display: none;
}
.visit-form-info.visible {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

.main {
  margin: 20px auto;
}
@media (max-width: 640px) {
  .main {
    margin: 10px auto;
  }
}

.board-message {
  margin-top: 200px;
  font: bold 40px sans-serif;
  text-align: center;
}
.board-message.board-message-none {
  display: none;
}

.filters form {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 16px sans-serif;
  margin: 0 10px;
}
@media (max-width: 640px) {
  .filters form {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 22px;
  }
}

.form-field {
  margin-bottom: 5px;
}

.label {
  margin-left: 10px;
}

input,
select {
  border: solid 0.5px #ecebf1;
  background-color: #f9f8fc;
  width: 130px;
}

@media (max-width: 400px) {
  input,
  select{
    width: 105px;
  }
}

.filters input[type=text],
.filters select {
  margin: 0 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.filter-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.filter-button:hover {
  background-color: #105712;
}
.filter-button.reset-button {
  background-color: #a64141;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin-top: 70px;
  font: 16px sans-serif;
}
@media (max-width: 640px) {
  .cards {
    margin-top: 40px;
  }
}

.card {
  width: 300px;
  background-color: #d8dcee;
  border: 1px solid #4e609d;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  position: relative;
  padding-top: 24px;
}

.card-info button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.doctor-name {
  color: #1c2131;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.propName {
  color: blue;
  text-decoration: underline;
}

.propValue {
  color: #131315;
}

.show-more-btn:after {
  content: "Показати більше";
}

.show-less-btn:after {
  content: "Показати меньше";
}

.edit-btn:after {
  content: "Редагувати";
}

.edit-close-btn:after {
  content: "Закрити";
}

.card-info button:hover {
  background-color: #0062cc;
}

.card-info .delete-icon::before {
  content: "×";
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 24px;
  line-height: 12px;
  cursor: pointer;
  color: #1c1a1a;
  border: 1px solid #1c1a1a;
  padding: 4px;
  border-radius: 4px;
}

.card-info .delete-icon:hover::before {
  color: #dc3545;
  border-color: #dc3545;
}

.extra-info {
  display: none;
}
.extra-info.visible {
  display: block;
}

.change-info {
  display: block;
  color: blue;
  text-decoration: underline;
}

.loading {
  display: flex;
  justify-content: center;
  color: #fa0404;
  font-size: 20px;
  font-weight: 600;
  animation: blink 400ms alternate infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
.loader {
  background: none repeat scroll 0 0 #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

.loader .loader_inner {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
.loader .loader_inner:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content: "";
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}

@keyframes animate2 {
  0% {
    box-shadow: inset #b3dfd8 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #b3dfd8 0 0 0 2px;
  }
  100% {
    box-shadow: inset #b3dfd8 0 0 0 17px;
    transform: rotate(140deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  max-width: 1240px;
  margin: 0 auto;
  background-image: url(../img/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}